<html>
    <head>
        <title>Lazy's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Lazy Develop Blog</a></h1>
        </div>

        <div>
            <p>published: 28.11.2018, 13:56</p>
            <h2><a href="">My first post</a></h2>
            <p>우와아아 드디어 하나 만들었드아아</p>
        </div>

        <div>
            <p>published: 28.11.2018, 13:56</p>
            <h2><a href="">My second post</a></h2>
            <p>우와아아 드디어 두개 만들었드아아</p>
        </div>
    </body>
</html>
